<template>
    <div class="btn btn-primary product-box" @click='addProduct(product)'>
        <img :src="product.product_image" class="product-img">
        <br>
        <span>{{ product.name }}</span>
    </div>
</template>

<script>
    export default {
        props:{
            product: Object
        },
        methods:{
            addProduct(product){
                if(this.$parent.buttons.includes(product.id)){
                    alert("This product was already added on the order list.")
                    return false
                }

                if(product.product_category.with_sizes){
                    this.$parent.is_sizes = true   
                }

                $("#cashier-modal").modal({backdrop: 'static', keyboard: false})
                $("input[name='quantity']").focus()
                this.$parent.products = product
                this.$parent.price = product.price
                this.$parent.order_size = 'small'
                this.$parent.selected_quantity = product.quantity
                this.$parent.setPrice()
            }
        }
    }
</script>
