<template>
    <div class="btn btn-info product-categories" v-if="category.id % 2 == 1" @click='getItems(category.id)'>
        <span>{{ category.name }}</span>
    </div>
    <div class="btn btn-warning product-categories" v-else @click='getItems(category.id)'>
        <span>{{ category.name }}</span>
    </div>
</template>

<script>
    export default {
        props:{
            category: Object
        },
        methods:{
            getItems(id){
                this.$parent.getItems(id)
            }
        }
    }
</script>
