.product-box {
  margin-bottom: 10px;
  width: 100%;
  border-color: #677b66;
  color: #677b66;
  border-width: 1px 1px 4px 1px;
  background-color: #ffffff;
}

.product-categories {
  margin-bottom: 10px;
  width: 100%;
  border-width: 1px 1px 4px 1px;
  font-size: 17px;
}

.product-box:hover, .product-box:active, .product-box:focus {
  color: #677b66 !important;
  background-color: #ffffff !important;
  border-color: #677b66 !important;
}

.product-img {
  width: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.alert {
  border-width: 0px !important;
}
