/*!
* Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
* Copyright 2013-2017 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
*/
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  background: #ffffff;
  box-shadow: 8px 48px 8px -10px #2c2d2d;
}

#page-content-wrapper {
  padding: 20px;
  margin-left: 230px;
}

#wrapper {
  position: relative;
  min-height: 100vh;
  height: auto;
}

/* Sidebar Styles */
.sidebar-logo {
  height: 55px;
  padding: 10px 0px;
  text-align: center;
  text-indent: 0px !important;
}

.sidebar-nav {
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #212d32;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #212d32;
  font-weight: bold;
  font-size: 0.95rem;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand a {
  color: black;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: black;
  background: none;
}

/*
* Navbar
*/
.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #212d32;
}

.fa {
  display: unset;
  margin-right: 10px;
}

.sidebar-nav > .sidebar-brand {
  background: #ececec;
}

.navbar-laravel {
  position: relative;
  background-color: #f5f8fa;
  box-shadow: 12px 6px 10px -10px #2c2d2d;
  border: 0px;
}
